* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;

}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
}

.logo {
    font-size: 32px;
    font: bold;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;

}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.7s ease;
}

.menu li {
    padding: 5px 14px;
}

.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 5px;
    top: 31px;
    left: 19px;
}

.dropdown li+li {
    margin-top: 8px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;

}

.dropdown li:hover {
    background-color: #4c9e9e;

}

.services:hover .dropdown {
    display: block;
}

input[type='checkbox'] {
    display: none;
}

.hamburger {
    display: none;
     
}

/* APPLYING MEDIA QUERIES */



@media (max-width:768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        margin-top: 8px;
        text-align: center;


    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;

    }

    .menu li+li {
        margin-top: 16px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;

    }

    .dropdown {
        left: 66%;
        top: 27px;
        transform: translateX(28%);

    }

    .dropdown li {
        padding: 0.1em 1em;
        width: 8em;
        text-align: center;

    }

    .dropdown li :hover {
        background-color: #4c9e9e;
    }
    .hamburger {
        color: white;
    }

}